[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/ESP8266Audio"]
	path = components/ESP8266Audio
	url = https://github.com/lahirunirmalx/ESP8266Audio
[submodule "components/NeoLED"]
	path = components/NeoLED
	url = git@github.com:lahirunirmalx/NeoLED.git
